
:root {
  --color-bg: #3f3f3f;
  --color-bg-complement: #555;
  --color-text: #ccc;
  --color-text-complement: #aaa;
  --color-shadow: #030303;
  /*--sidebar-width: 33vw;*/
  --sidebar-width: 360px;
  --sidebar-width-collapsed: 60px;
  --sidebar-transition: all 120ms ease-out;
}

html {
  font-size: 32px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

body,
aside {
  box-sizing: border-box;
}

body,
h1,
button,
select,
input {
  font: 1rem consolas, courier, monospace;
}

body,
button,
select {
  color: var(--color-text);
  background-color: var(--color-bg-complement);
}


select,
input[type="file"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  padding: 0 1em;
  border: 0 none;
  outline: 0 none;
  border-radius: 0;
  cursor: pointer;
}

select {
  line-height: 1.5rem;
  font-size: .5rem;
  font-weight: bold;

  /* fake arrow */
  background-image: linear-gradient(50deg, transparent 50%, var(--color-bg) 50%),
  linear-gradient(130deg, var(--color-bg) 50%, transparent 50%);
  background-position: calc(100% - 20px) 50%,
  calc(100% - 14px) 50%;
  background-size: 6px 6px,
  6px 6px;
  background-repeat: no-repeat;
}

select:hover {
  background-image: linear-gradient(50deg, transparent 50%, deeppink 50%),
  linear-gradient(130deg, deeppink 50%, transparent 50%);
}

label {
  font-size: .5rem;
}

input:disabled,
select:disabled,
button:disabled {
  opacity: .3;
  cursor: not-allowed;
}

input[type="range"] {
  position: relative;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: opacity .5s;
}

input[type="range"]:before,
input[type="range"]:after {
  position: absolute;
  top: calc(.5rem + 10px);
  line-height: 0;
  font-size: .4rem;
  color: var(--color-text-complement);
}

input[type="range"]:before {
  content: attr(min);
  left: 0;
}

input[type="range"]:after {
  content: attr(max);
  right: 0;
}

input[type="range"].percentage:before {
  content: attr(min) '%';
}

input[type="range"].percentage:after {
  content: attr(max) '%';
}

.icon-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  outline: 0 none;
  border-radius: 50%;
  text-align: center;
  font: bold 18px/32px "Courier New", monospace;
  color: var(--color-bg);
  background-color: deeppink;
  cursor: pointer;
}

.icon-button:hover {
  color: var(--color-text);
}

input[type="file"] {
  /* hide everything - we style the wrapping labels instead */
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  opacity: 0;
}

input[type="checkbox"].icon-button:after {
  content: "\2718";
  display: inline-block;
}

input[type="checkbox"].icon-button:checked:after {
  content: "\2714";
}


/* layout */

input[type="checkbox"].icon-button.close {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: calc(var(--sidebar-width) - 45px);
  transition: var(--sidebar-transition);
}

input[type="checkbox"].icon-button.close:checked {
  left: 15px;
}

input[type="checkbox"].icon-button.close:after {
  content: "\2715";
}

input[type="checkbox"].icon-button.close:checked:after {
  content: "\2022";
}

input[type="checkbox"].icon-button.close:checked + aside {
  left: 0;
  overflow: hidden;
  width: var(--sidebar-width-collapsed);
  min-width: var(--sidebar-width-collapsed);
  padding: 0;
}

input[type="checkbox"].icon-button.close:checked + aside > * {
  opacity: 0;
}

input[type="checkbox"].icon-button.close:checked + aside + main {
  margin-left: var(--sidebar-width-collapsed);
}

main {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: var(--sidebar-width);
  transition: var(--sidebar-transition);
}

aside {
  position: absolute;
  z-index: 2;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 35px;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  background-color: var(--color-bg);
  box-shadow: 2px 0 22px var(--color-shadow);
}

aside,
aside > * {
  transition: var(--sidebar-transition);
}

aside label,
aside input,
aside select {
  display: block;
  width: 100%;
  margin: 0 0 .5rem;
}

aside :last-child {
  margin-bottom: 0;
}

aside h1,
aside button {
  height: 80px;
  line-height: 80px;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

aside button {
  box-shadow: 0 1px 16px var(--color-shadow);
}

aside select {
  color: var(--color-bg);
  background-color: var(--color-text);
}

aside label {
  position: relative;
  height: 60px;
  line-height: 60px;
  margin: .75rem 0 0;
}

aside label[for="source-image-select"] {
  pointer-events: none;
}

aside label[for="source-image-file"] {
  float: right;
  margin-top: .5rem;
}

aside label[for="source-image-file"]:after {
  content: "\2b06";
}

aside label .icon-button {
  position: absolute;
  top: 15px;
  right: 0;
}

/* helpers */

.dot {
  color: deeppink;
}

/* components */

#source,
#target {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
}

#source {
  z-index: 1;
  justify-content: flex-start;
  overflow: hidden;
}

#source:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 1px dotted var(--color-bg);
  opacity: .5;
}

#target {
  box-shadow: 2px 0 22px var(--color-shadow);
}

#crossfade-slider:before {
  content: "input";
}

#crossfade-slider:after {
  content: "output";
}
