
:root {
  --sidebar-width: 360px;
  --sidebar-width-collapsed: 70px;
  --sidebar-transition: all 120ms ease-out;
}

html {
  font-size: 32px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

body,
header {
  box-sizing: border-box;
}

body,
h1,
button,
select,
input {
  font: 1rem consolas, courier, monospace;
}

body,
button,
select {
  color: #ccc;
  background-color: #555;
}

button,
select {
  padding: 0 1em;
  border: 0 none;
  outline: 0 none;
  border-radius: 0;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.5rem;
  font-size: .5rem;
  font-weight: bold;

  /* fake arrow */
  background-image:
    linear-gradient(50deg, transparent 50%, #3f3f3f 50%),
    linear-gradient(130deg, #3f3f3f 50%, transparent 50%);
  background-position:
    calc(100% - 20px) 50%,
    calc(100% - 14px) 50%;
  background-size:
    6px 6px,
    6px 6px;
  background-repeat: no-repeat;
}

select:hover {
  background-image:
    linear-gradient(50deg, transparent 50%, deeppink 50%),
    linear-gradient(130deg, deeppink 50%, transparent 50%);
}

label {
  font-size: .5rem;
}

input:disabled,
select:disabled,
button:disabled {
  opacity: .3;
  cursor: not-allowed;
}

input[type="range"] {
  position: relative;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: opacity .5s;
}

input[type="range"]:before,
input[type="range"]:after {
  position: absolute;
  top: calc(.5rem + 10px);
  line-height: 0;
  font-size: .4rem;
  color: #aaa;
}

input[type="range"]:before {
  content: attr(min);
  left: 0;
}

input[type="range"]:after {
  content: attr(max);
  right: 0;
}

input[type="range"].percentage:before {
  content: attr(min) '%';
}

input[type="range"].percentage:after {
  content: attr(max) '%';
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  outline: 0 none;
  border-radius: 50%;
  text-align: center;
  font: bold 18px/32px "Courier New", monospace;
  color: #3f3f3f;
  background-color: deeppink;
  cursor: pointer;
}

input[type=checkbox]:hover {
  color: #ccc;
}

input[type=checkbox]:after {
  content: "\2718";
  display: inline-block;
}

input[type=checkbox]:checked:after {
  content: "\2714";
}


/* layout */

input[type="checkbox"].close {
  position: absolute;
  z-index: 3;
  top: 20px;
  left: calc(var(--sidebar-width) - 50px);
  transition: var(--sidebar-transition);
}

input[type="checkbox"].close:checked {
  left: 20px;
}

input[type="checkbox"].close:after {
  content: "\2715";
}

input[type="checkbox"].close:checked:after {
  content: "\2022";
}

input[type="checkbox"].close:checked + header {
  left: 0;
  overflow: hidden;
  width: var(--sidebar-width-collapsed);
  min-width: var(--sidebar-width-collapsed);
}

input[type="checkbox"].close:checked + header > * {
  opacity: 0;
}

input[type="checkbox"].close:checked + header + main {
  margin-left: var(--sidebar-width-collapsed);
}


header {
  position: absolute;
  z-index: 2;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 35px;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  transition: var(--sidebar-transition);
  background-color: #3f3f3f;
  box-shadow: 2px 0 22px #000;
}

header label,
header input,
header select {
  display: block;
  width: 100%;
  margin: 0 0 .5rem;
}

header :last-child {
  margin-bottom: 0;
}

header h1,
header button {
  height: 80px;
  line-height: 80px;
  margin-bottom: 40px;
}

header button {
  box-shadow: 0 1px 16px #000;
}

header select {
  color: #3f3f3f;
  background-color: #ccc;
}

header label {
  position: relative;
  height: 60px;
  line-height: 60px;
  margin: .75rem 0 0;
}

header label input[type="checkbox"] {
  position: absolute;
  top: 15px;
  right: 0;
}


main {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: var(--sidebar-width);
  transition: var(--sidebar-transition);
}

/* helpers */

.dot {
  color: deeppink;
}

/* components */

#source,
#target {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3f3f;
}

#source {
  z-index: 1;
  justify-content: flex-start;
  overflow: hidden;
}

#source:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 2px dashed #3f3f3f;
}

#target {
  box-shadow: 2px 0 22px #000;
}

#crossfade-slider:before {
  content: "input";
}

#crossfade-slider:after {
  content: "output";
}
